In [3]:
!ls

analyze_emory_data_set.ipynb     analyze_synthetic_data_set.ipynb

In [4]:
%load_ext autoreload
%autoreload 2

os.chdir("/Users/kimd999/research/projects/Vlad/code/DL-Batch-Correction")
from load_data import load_labeled_data

## emory data load

In [5]:
emory_path_to_data    = '/Users/kimd999/research/projects/Vlad/data/DL-Batch-Correction-Data/data/emory/emory_data.txt'
emory_path_to_labels  = '/Users/kimd999/research/projects/Vlad/data/DL-Batch-Correction-Data/data/emory/emory_labels.txt'

train_data, test_data, metadata = load_labeled_data(emory_path_to_data, emory_path_to_labels)

print (f"len(train_data):{len(train_data)}")
print (f"len(test_data):{len(test_data)}")
print (f"type(metadata):{type(metadata)}")
print (f"metadata['n_features']:{metadata['n_features']}")
print (f"metadata['n_batches']:{metadata['n_batches']}")

len(train_data):200
len(test_data):200
type(metadata):<class 'dict'>
metadata['n_features']:1811
metadata['n_batches']:50

In [13]:
df_emory_data = pd.read_csv(emory_path_to_data, delimiter="\t")
display(df_emory_data.head())
display(df_emory_data.tail())
df_emory_data.describe()

df_emory_data.shape

,feature,10100736,10202345,10203224,10216869,10246987,10263208,10267798,10284019,10288185,...,95329283,95442315,95453354,96095092,96189273,9650662,96892753,97882751,98953007,99110004
0,A1BG,NaN,-1.347236,-0.606413,-0.800102,0.242580,-2.029150,NaN,-0.626664,-0.623703,...,-0.903515,-0.384231,-0.373634,0.044990,-0.018725,-0.293775,-1.082401,0.140457,-0.805574,-0.676638
1,A2M,-0.848018,-0.435493,-0.187994,-0.384900,-1.458033,-2.026350,-0.27704,-0.404858,-0.202208,...,-0.461565,-0.883077,-0.175341,-0.096461,0.067662,-0.689263,-1.181202,-0.126366,-0.650561,-1.056997
2,AAAS,NaN,-1.195986,NaN,-0.694216,NaN,-2.340415,NaN,-0.646891,-0.789639,...,-0.433649,-0.553004,-0.495187,NaN,-0.756529,-0.803541,-0.714623,NaN,-0.476986,-0.746696
3,AACS,NaN,-0.730843,-0.080898,-0.136187,NaN,-0.817905,NaN,-0.482132,-0.367625,...,-0.979751,-0.400679,-0.221557,0.069832,-0.268701,-0.450895,-1.058233,-0.195628,-0.201219,-0.455775
4,AADAT,NaN,0.001351,-0.223063,-0.520391,NaN,-0.954721,NaN,-0.159227,0.129891,...,0.006898,-0.467020,0.050056,NaN,-1.109356,-0.442626,-0.287462,-0.145028,-0.106903,-0.431191

,feature,10100736,10202345,10203224,10216869,10246987,10263208,10267798,10284019,10288185,...,95329283,95442315,95453354,96095092,96189273,9650662,96892753,97882751,98953007,99110004
9622,ZSWIM8,NaN,-0.398191,-0.239205,-0.353617,NaN,-1.161370,NaN,-0.477022,-0.423726,...,-0.690173,-0.272705,-0.108430,-0.123541,-0.687752,-0.671376,-0.626791,-1.036542,-0.627252,-0.655685
9623,ZW10,-0.679175,-0.757554,-0.945435,-0.524853,NaN,-1.303500,-2.336050,-0.241136,-0.498673,...,-0.386576,-0.736060,-0.222354,-0.508400,-0.411742,-0.293347,-0.674207,-0.684542,-0.324908,-0.947110
9624,ZYG11B,NaN,-0.514703,-0.816528,-0.458009,-0.972290,-1.219544,NaN,-0.629593,-0.623438,...,-0.738449,-0.382162,-0.435419,-0.600398,-0.221753,-0.474330,-0.792661,-0.294061,-0.460392,-1.347666
9625,ZYX,NaN,-0.258306,-0.234166,-0.400273,-0.788042,-0.945071,-0.536204,-0.466385,-0.270352,...,-0.335968,-0.455500,-0.271568,-0.254843,-0.188403,-0.129579,-0.368677,-0.276654,-0.269303,-0.531963
9626,ZZEF1,-1.314278,-0.710608,-0.557290,-0.526827,-0.648236,-1.218387,-0.480849,-0.385892,-0.442305,...,-0.280223,-0.749658,-0.190000,-0.275581,-0.242503,-0.357881,-0.669022,-0.420566,-0.197014,-0.781798

(9627, 401)

In [19]:
df_emory_data_wo_na = df_emory_data.dropna()
display(df_emory_data_wo_na.head())
#display(df_emory_data_wo_na.tail())

display(df_emory_data_wo_na.shape)
df_emory_data_wo_na.describe()

,feature,10100736,10202345,10203224,10216869,10246987,10263208,10267798,10284019,10288185,...,95329283,95442315,95453354,96095092,96189273,9650662,96892753,97882751,98953007,99110004
1,A2M,-0.848018,-0.435493,-0.187994,-0.384900,-1.458033,-2.026350,-0.277040,-0.404858,-0.202208,...,-0.461565,-0.883077,-0.175341,-0.096461,0.067662,-0.689263,-1.181202,-0.126366,-0.650561,-1.056997
6,AAK1,-0.931361,-0.615089,-0.349552,-0.546433,-0.505475,-1.060120,-1.001900,-0.308831,-0.432837,...,-0.326088,-0.876347,-0.475802,-0.214762,-0.200088,-0.227760,-0.762359,-0.259405,-0.041376,-0.707420
10,AARS1,-1.115146,-0.583855,-0.597881,-0.482187,-0.717798,-1.189259,-0.232589,-0.372581,-0.611764,...,-0.527540,-1.095452,-0.412745,-0.426780,-0.197068,-0.401203,-1.130840,-0.350267,-0.228596,-0.597773
11,AARS2,-0.109393,-0.624373,-0.141046,-0.267412,-0.526059,-1.017869,-0.712540,-0.309599,-0.457576,...,-0.307862,-0.363922,-0.468184,-0.040115,-0.169066,-0.165274,-0.418554,-0.303601,-0.142552,-0.393308
13,AASDHPPT,-1.073537,-0.520684,-0.134571,-0.216696,-3.119020,-1.107391,-1.196300,-0.292406,-0.511029,...,-0.758635,-1.294742,-0.259578,-0.384764,-0.244620,-0.327175,-0.758984,-0.144605,-0.192503,-0.451781

(1811, 401)

,10100736,10202345,10203224,10216869,10246987,10263208,10267798,10284019,10288185,10291856,...,95329283,95442315,95453354,96095092,96189273,9650662,96892753,97882751,98953007,99110004
count,1811.000000,1811.000000,1811.000000,1811.000000,1811.000000,1811.000000,1811.000000,1811.000000,1811.000000,1811.000000,...,1811.000000,1811.000000,1811.000000,1811.000000,1811.000000,1811.000000,1811.000000,1811.000000,1811.000000,1811.000000
mean,-0.749015,-0.603129,-0.463588,-0.513611,-0.728084,-1.187434,-0.838453,-0.464090,-0.515296,-0.699866,...,-0.473673,-0.964500,-0.404038,-0.372421,-0.250012,-0.466894,-0.825478,-0.394738,-0.248566,-0.669922
std,0.677752,0.318274,0.275395,0.288899,0.657082,0.281078,0.743148,0.292375,0.274915,0.387736,...,0.318556,0.369660,0.315607,0.328855,0.278333,0.279132,0.333164,0.274678,0.290256,0.289421
min,-6.424634,-3.309411,-3.011117,-2.879709,-6.727351,-3.309474,-5.681516,-2.578129,-3.395513,-3.377124,...,-3.406745,-3.898124,-3.449163,-3.506720,-2.861325,-2.712570,-3.778750,-2.569041,-2.129418,-3.077681
25%,-0.996935,-0.748751,-0.586822,-0.638465,-0.937978,-1.308841,-1.146600,-0.601898,-0.633432,-0.884441,...,-0.618468,-1.134925,-0.534206,-0.499760,-0.378556,-0.589223,-0.966162,-0.503695,-0.374282,-0.794013
50%,-0.695942,-0.600026,-0.445365,-0.479171,-0.603332,-1.159867,-0.779726,-0.429676,-0.483010,-0.664734,...,-0.439654,-0.920027,-0.371691,-0.321395,-0.243033,-0.443262,-0.788017,-0.365921,-0.206870,-0.639098
75%,-0.430866,-0.440723,-0.319162,-0.355393,-0.376354,-1.033418,-0.484149,-0.289578,-0.362455,-0.468534,...,-0.277101,-0.739801,-0.229937,-0.190423,-0.114288,-0.314178,-0.631173,-0.252333,-0.078492,-0.512832
max,2.960352,4.303560,1.244551,1.029352,1.503425,1.467575,3.636883,1.201026,1.420548,1.599240,...,0.868562,1.898054,2.495588,2.002320,2.773110,1.617521,1.568157,2.380702,1.258804,1.595968

In [17]:
#display(df_emory_data_wo_na.min(numeric_only=True, axis=0))
df_emory_data_min_per_column = df_emory_data_wo_na.min(numeric_only=True, axis=0)
display(df_emory_data_min_per_column.min())
#display(df_emory_data_min_per_column.describe())

#display(df_emory_data_wo_na.max(numeric_only=True, axis=0))
df_emory_data_max_per_column = df_emory_data_wo_na.max(numeric_only=True, axis=0)
display(df_emory_data_max_per_column.max())
#display(df_emory_data_max_per_column.describe())

-13.6552152489401

4.73735783298582

In [18]:
df_emory_labels = pd.read_csv(emory_path_to_labels, delimiter="\t")
display(df_emory_labels.head())
display(df_emory_labels.tail())
display(df_emory_labels.describe())
df_emory_labels['batch'].unique()

     sample  batch
0  20271359      0
1  33477756      0
2  38967303      0
3  10100736      0
4  10298957      0

       sample  batch
395  30755009     49
396  87038802     49
397  51520126     49
398  51791453     49
399  86420222     49

             sample       batch
count  4.000000e+02  400.000000
mean   3.911268e+07   24.500000
std    2.550913e+07   14.448942
min    2.462640e+05    0.000000
25%    2.023136e+07   12.000000
50%    3.285264e+07   24.500000
75%    5.169896e+07   37.000000
max    9.911000e+07   49.000000

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49])

In [12]:
train_data.head

AttributeError: 'Subset' object has no attribute 'head'